*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 65.2%;
  
}
.wapper{
    height: 100%;
    width: 100%;
    padding: 0 5rem;
}
header{
    height: 5rem;
    background-color: blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header__logo img{
    height: 5rem;
}
.header__icon{
    margin: 0 4rem;
}
.header__icon a{
    color: rgb(0, 255, 55);
    height: 5rem;
    line-height: 5rem;
    text-decoration: none;
    padding: 0.5rem;
}
.header__icon a:hover{
    background-color: chocolate;
    color: #fff;
}
/* header logo với header icon */
nav .container-fluid {
background-color: darksalmon;
}
.content{
    display: flex;
    width: 100%;
    padding: 2rem 0;
}
 h2{
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    font-weight: 15rem;
    size: 6rem;
    text-shadow: -0rem 1rem 1rem yellowgreen;
    text-transform: uppercase;
}
.card{
    width: 25%;
    height: 20rem;
}
.card-text{
    height: 15rem;
}
